.studentsList__header {
  display: grid;
  grid-template-columns: 5% 25% 25% 15% 10% 10% 5% 5%;
}

.studentsList__header-name {
  grid-column: 2 / 3;
}

.studentsList__header-specialty {
  grid-column: 3 / 4;
}

.studentsList__header-group {
  grid-column: 4 / 5;
}

.studentsList__header-age {
  grid-column: 5 / 6;
}

.studentsList__header-rating {
  grid-column: 6 / 9;
}
